<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations Bot</title>
</head>
<body>
    <h1>Welcome to Movie Recommendations Bot</h1>
    <form action="{{ url_for('generate') }}" id="choices_form" method="POST">
        <input type="text" name="choices-hidden" id="choices-hidden" hidden>
        <input type="text" name="genre-hidden" id="genre-hidden" hidden>
        <label for="movie-choice">Choices (up to 5 movies):</label><br>
        <input type="text" name="choices" id="movie-choice" placeholder="Enter movie here...">
        <button type="button" id="add-movie-button"></button><br><br>
        <ul id="choices-list"></ul>
        <label for="genre-choice">Genre Preference:</label>
        <input type="text" name="genres" id="genre-choice" placeholder="Enter genre here...">
        <button type="button" id="add-genre-button"></button><br><br>
        <ul id="genre-list"> </ul>
        <button type="submit">Generate Recommendations</button>
    </form>
    <a href="{{ url_for('search') }}">Search Recommendations</a>
</body>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        const addMovieButton = document.getElementById('add-movie-button');
        const addGenreButton = document.getElementById('add-genre-button');
        const movieChoice = document.getElementById('movie-choice');
        const choicesList = document.getElementById('choices-list');
        const genreChoice = document.getElementById('genre-choice');
        const genreList = document.getElementById('genre-list');
        const hiddenChoicesField = document.getElementById('choices-hidden')
        const hiddenGenreField = document.getElementById('genre-hidden')
        addMovieButton.addEventListener('click', function(event) {
            const newItemText = movieChoice.value.trim();
            if (newItemText !== '') {
                addItemToList(newItemText, choicesList);
                hiddenChoicesField.value += newItemText + '`'
                movieChoice.value = ''; // Clear the input field
            }
        });

        addGenreButton.addEventListener('click', function(event) {
            const newItemText = genreChoice.value.trim();
            if (newItemText !== '') {
                addItemToList(newItemText, genreList);
                hiddenGenreField.value += newItemText + '`'
                genreChoice.value = ''; // Clear the input field
            }
        });

        function addItemToList(itemText, list) {
            const li = document.createElement('li');
            li.textContent = itemText;
            list.appendChild(li);
        }

        movieChoice.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                const newItemText = movieChoice.value.trim();
                if (newItemText !== '') {
                    addItemToList(newItemText);
                    movieChoice.value = ''; // Clear the input field
                }
            }
        });
    });
</script>
</html>
